<!--The content below is only a placeholder and can be replaced.-->
<div id="header" style="text-align:center">
  <img width="300" alt="Vinyle" src="C:\Users\Pierre\Desktop\TP_JS\Travaux_personnels\Projet_Techno_Web\vinyleMania\src\iconvinyl.ico">
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/" RouterLinkActive="active" class="nav-link" >Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a routerLink="/nouveautés" RouterLinkActive="active" class="nav-link">Nouveautés</a>
      </li>
      <li class="nav-item dropdown">
        <a routerLink="/plaisir" RouterLinkActive="active" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ce qui pourrait vous plaire
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a routerLink="/morceaux" RouterLinkActive="active" class="dropdown-item" >Morceaux</a>
          <a routerLink="/artiste" RouterLinkActive="active" class="dropdown-item" >Artiste</a>
          <a routerLink="/genre" RouterLinkActive="active" class="dropdown-item" >Genre</a>
        </div>
      </li>
      <li class="nav-item">
        <a routerLink="/user" RouterLinkActive="active" class="nav-link">Compte</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-neutral my-2 my-sm-0" type="submit">Rechercher</button>
    </form>
  </div>
</nav>


<router-outlet></router-outlet>




