#header {
    background-image: url("C:/Users/Pierre/Desktop/TP_JS/Travaux_personnels/Projet_Techno_Web/vinyleMania/src/vinyl.png");
}

<<<<<<< HEAD

=======
>>>>>>> ba6d4b83b2b351720e01a215c6110a21d6f2abd9
#img1 {
    background-image: url("C:/Users/Pierre/Desktop/TP_JS/Travaux_personnels/Projet_Techno_Web/vinyleMania/src/Carrousel.jpg");
    max-width:1440px;
    height: 765px;  
    background-repeat: no-repeat;
}

#img2 {
  background-image: url("C:/Users/Pierre/Desktop/TP_JS/Travaux_personnels/Projet_Techno_Web/vinyleMania/src/Carrousel1.jpg");
  max-width:1440px;
  height: 765px;  
  background-repeat: no-repeat;
}

#img3 {
  background-image: url("C:/Users/Pierre/Desktop/TP_JS/Travaux_personnels/Projet_Techno_Web/vinyleMania/src/Carrousel2.jpg");
  max-width:1440px;
  height: 765px;  
  background-repeat: no-repeat;
<<<<<<< HEAD
}
=======
}
>>>>>>> ba6d4b83b2b351720e01a215c6110a21d6f2abd9
