<div class="container">
  
  
  
        <!-- Page Heading -->
  
        <h1 class="my-4">Ce qui pourrait vous interêsser...
  
          <small>et éveiller votre curiosité musicale</small>
  
        </h1>
  
  
  
        <div class="row">
  
          <div class="col-lg-4 col-sm-6 portfolio-item">
  
            <div class="card h-100">
  
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
  
              <div class="card-body">
  
                <h4 class="card-title">
  
                  <a href="#">Morceaux</a>
  
                </h4>
  
                <p class="card-text">Quelques exemple de morceaux qui vous donnerait envie d'écouter</p>
  
              </div>
  
            </div>
  
          </div>
  
          <div class="col-lg-4 col-sm-6 portfolio-item">
  
            <div class="card h-100">
  
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
  
              <div class="card-body">
  
                <h4 class="card-title">
  
                  <a href="#">Artiste</a>
  
                </h4>
  
                <p class="card-text">Quelques exemple de artistes qui pourrait vous plaire.</p>
  
              </div>
  
            </div>
  
          </div>
  
          <div class="col-lg-4 col-sm-6 portfolio-item">
  
            <div class="card h-100">
  
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
  
              <div class="card-body">
  
                <h4 class="card-title">
  
                  <a href="#">Genre</a>
  
                </h4>
  
                <p class="card-text">Quelques exmples de genres de musiques qui pourrait vous intérêsser</p>
  
              </div>
  
            </div>
  
          </div>
  
  
        </div>
<router-outlet></router-outlet>