
<div class="container">  
  <h1 class="my-4 text-center text-lg-center">Morceaux du jour</h1>  
<div class="row text-center text-lg-left">  
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="assets/images/nature/morceaux/song1.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="assets/images/nature/morceaux/song2.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="assets/images/nature/morceaux/song3.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="assets/images/nature/morceaux/song4.jpg" alt="">
      </a>
    </div>
 

<router-outlet></router-outlet>